:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

input, button, textarea {
  font-family: inherit;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.6em 1.2em;
  margin: 0.5rem 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background-color: #646cff;
  color: white;
  border: none;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #535bf2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

.card {
  padding: 1rem;
  border: 1px solid #444;
  border-radius: 8px;
  margin: 1rem;
  text-align: left;
  cursor: pointer;
}

.card:hover {
  background-color: #333;
}

.editor-container {
  text-align: left;
  background: white;
  color: black;
  padding: 1rem;
  min-height: 400px;
}
